<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>联系我们</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/tpblog/public/static/loaders.css.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/style.css" />
		<script src="__PUBLIC__/index/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/index/js/layer/2.4/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<main class="">
			{include file="common/header" /}
			<div>
				<img class="" src="__PUBLIC__/index/img/bg2.jpeg" alt="" style="width: 100%;">
			</div>
			<div class="container">
				<p>这个人很懒，什么都没留下</p>
			</div>
			{include file="common/footer" /}
		</main>
	</body>
</html>
