<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{$articleres.title}—文章详情</title>
		{include file="common/js" /}
		{include file="common/css" /}
		<style type="text/css">
			body{background-color: #eee;}
			.loading{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 9;
			}
			.panel-body img,.panel-body video{
				max-width: 100%;
			}
		</style>
	</head>
	<body>
		{include file="common/header" /}
		<main class="margin-top">
			<div class="container">
				<ol class="breadcrumb">
				  <li><a href="{:url('index/index')}">主页</a></li>
				  <li><a href="{:url('cate/index',array('cate_id'=>$articleres['cate']))}">{$cateres.catename}</a></li>
				  <li></li>
				</ol>
				<div class="row">
					<div class="col-md-9">
						<div class="well well-small flexBet">
							<h3>{$articleres.title}</h3>
							<div class="flexStart margin-top2">
								<!-- <div class="paddingside" style="width: 6em;">
									<img src="__PUBLIC__/index/img/zirsn.png" class="img-responsive">
								</div> -->
								<div class="">
									<p class=""><span class="text-muted">作者:</span> {$articleres.author}</p>
									<!-- 管道符的符号：| -->
									<p class="">
										<span class="text-muted">{$articleres.create_time|date='Y-m-d H:i'}</span> 
										<span class="text-muted">阅读:{$articleres.clickcount}</span>
									</p>
								</div>
							</div>
						</div>
						
						<!-- <div class="panel panel-body">
							<blockquote>
							  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
							  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div> -->
						
						<article class="bg-danger margin-bot">
							<div class="panel panel-default">
								<!-- <div class="panel-heading"> 正文 </div> -->
								<div class="panel-body">
									{$articleres.content |raw|htmlspecialchars_decode}
								</div>
							</div>
						</article>
						<div class="panel panel-default">
							<div class="panel-heading"> 精彩评论 </div>
							<div class="panel-body">
								<form action="{:url('index/comment/index',array('arid'=>$articleres['id']))}" method="post" enctype="multipart/form-data" >
									<input type="hidden" name="article_id" id="" value="{$articleres.id}" />
									<div class="flexStart" style="align-items: flex-start;">
										<div class="paddingside" style="width: 10%;">
											{php}$member=session('member');{/php}
											{if condition ="!empty($member.avatar)"}
												<img class="img-responsive" src="/upload/avatar/{$member.avatar}" alt="">
											{else}
												<img class="img-responsive" src="/index/img/portrai.jpg" alt="">
											{/if}
										</div>
										<div class="" style="width: 90%;">
											<textarea class="form-control" rows="3" name="content" placeholder="写下你的评论……" style="resize: none;"></textarea>
										</div>
									</div>
									<div class="text-right margin-top">
										<input type="submit" class="btn btn-primary btn-small" value="发表评论"/>
									</div>
								</form>
								<div class="">
									<div class="margin-bot" style="border-bottom: 1px solid #ddd;">
										<div class="paddingside margin-bot" style="border-left: 3px solid #D43F3A;">
											全部评论
										</div>
									</div>
									
									<ul class="commonts-list list-unstyled">
										{if condition="!empty($commentres)"}
											{foreach name="commentres" item="vo" }
											<li class="paddinside" style="border-bottom: 1px dashed #ddd;padding: 6px 0">
												<div class="tit flexStart" style="align-items: flex-start;">
													<div class="paddingside" style="width: 6em;">
														{if condition ="!empty($vo.user_info.avatar)"}
															<img class="img-responsive img-rounded" src="/upload/avatar/{$vo.user_info.avatar}" alt="">
														{else}
															<img class="img-responsive img-rounded" src="/index/img/portrai.jpg" alt="">
														{/if}
													</div>
													<div class="" style="width: calc(100% - 84px);">
														<div class="flexBet">
															<div class="">
																<div style="font-size: 15px;font-weight: 500;">{$vo.user_info.nickname}</div>
																<div class="text-muted"><span>{$vo.create_time|date='Y-m-d h:m'}</span> </div>
															</div>
															<div class="paddingside">
																{if condition ="$vo.user_info.id eq $member.id"}
																<a href="{:url('comment/del',array('cid'=>$vo['id']))}" class="">删除</a>
																{/if}
															</div>
														</div>
														<div class="">
															<div class="margin-bot margin-top" style="font-size: 14px;font-weight: 600;"> {$vo.content}</div>
															<div>
																<div class="margin-bot">
																	<a href="javascript:;" class="text-muted">赞:{$vo.like}</a>
																	<a href="javascript:;" class="btn-reply text-muted">回复</a>
																</div>
																<div class="reply-content hidden margin-bot">
																	<textarea class="form-control" rows="2" name="content" placeholder="写下你的评论……" style="resize: none;"></textarea>
																	<div class="text-right margin-top">
																		<a href="javascript:;" class="btn btn-primary" onclick="publishComment(this,{$vo.id})">发表评论</a>
																	</div>
																</div>
																
																<ul class="sub-floor list-unstyled">
																	{if condition ="!empty($vo.subComments)"}
																		{volist name="$vo.subComments" id="vs" key="k"}
																		<li class="paddinside">
																			<div class="reply-history" style="background-color: #f5f5f5;padding: 6px 10px;">
																				<div class="flexBet">
																					<div class="">
																						<div style="font-size: 15px;font-weight: 500;">{$vs.user_info.nickname}</div>
																						<div class="text-muted"><span>{$vs.create_time|date='Y-m-d h:m'}</span> </div>
																					</div>
																					<div class="paddinside">
																						{if condition ="$vs.user_info.id eq $member.id"}
																						<a href="{:url('comment/del',array('cid'=>$vs['id']))}" class="">删除</a>
																						{/if}
																					</div>
																				</div>
																				<div class="margin-bot margin-top" style="font-size: 14px;font-weight: 600;"> {$vs.content}</div>
																				<div class="margin-bot">
																					<a href="javascript:;" class="text-muted">赞:{$vo.like}</a>
																					<a href="javascript:;" class="text-muted" onclick="replyComment(this)">回复</a>
																				</div>
																				
																				<div class="reply-content-sub hidden">
																					<textarea class="form-control" rows="2" name="content" placeholder="写下你的评论……" style="resize: none;"></textarea>
																					<div class="text-right margin-top">
																						<a href="javascript:;" class="btn btn-primary" onclick="publishComment(this,{$vo.id})">发表评论</a>
																					</div>
																				</div>
																			</div>
																		</li>
																		{/volist}
																	{/if}
																</ul>
																
															</div>
														</div>
													</div>
													
												</div>
											</li>
											{/foreach}
										{else /}
											<div class="text-center text-muted margin-top2 margin-bot2">
												暂无评论哦，快来评论一下吧！
												<!-- <a href="javascript:;" class="text-muted">点击抢沙发</a> -->
											</div>
										{/if}
										
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						{include file="common/right" /}
					</div>
				</div>
				
			</div>
			
			{include file="common/footer" /}
		</main>
		<script type="text/javascript">
			/* var loading=document.getElementsByClassName('loading');
			document.onreadystatechange=function() {
				if (document.readyState=="complete") {
					$(".loading").fadeOut();
				}
			} */
			$('.commonts-list>li .btn-reply').click(function(){
				$(this).parents('li').find('.reply-content').toggleClass("hidden")
				if ($(this).text()=='收起') {
					$(this).text('回复')
				}else{
					$(this).text('收起')
				}
			})
			
			function replyComment (obj) {
				$(obj).parents('.reply-history').find('.reply-content-sub').toggleClass("hidden");
				if ($(obj).text()=='收起') {
					$(obj).text('回复')
				}else{
					$(obj).text('收起')
				}
			}
			
			function publishComment (obj,pid) {
				var content=$(obj).parent().parent().find('textarea').val();
				console.log('content',content);
				var article_id='{$articleres.id}';
				var data={
					pid:pid,
					content:content,
					article_id:article_id
				};
				$.ajax({
					url:"{:url('index/comment/index')}",
					type:'post',
					data:data,
					dataType:'json',
					success:function(res) {
						console.log('resss',res);
						if (res.code==1) {
							layer.msg(res.msg,{
								icon:1,
								function(){}
							})
							setTimeout(function(){
								history.go(0);
							},3000)
						}else{
							layer.msg(res.msg,{
								icon:2,
								function(){}
							})
							setTimeout(function(){
								var url="{:url('index/common/login')}";
								location.href=url;
							},3000)
							
						}
					}
				})
			}
		</script>
	</body>
</html>
