<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{$cateres.catename}</title>
		{include file="common/js" /}
		{include file="common/css" /}
		<style type="text/css">
			.loading {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 99999;
			}

			/* .thumbnail>p{margin: 0;margin-top: 10px; padding: 6px 0;border-top: 1px solid #ddd;}
			.thumbnail>p>a{font-size: 16px; font-weight: bolder;} */
		</style>
	</head>
	<body>
		<!-- <div class="loading bg-primary fc">
			<div class="loader">
				<div class="pacman">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div> -->
		{include file="common/header"/}
		
		<main class="margin-top">
			
			<div class="container">
				<ol class="breadcrumb">
				  <li><a href="{:url('index/index')}">主页</a></li>
				  <li><a href="{:url('cate/index',array('cate_id'=>$cateres['id']))}">{$cateres.catename}</a></li>
				</ol>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						{if condition="count($list) eq 0"}
							<div class="">
								<img class="img-responsive" src="/static/img/none-datas.jpeg" alt="">
							</div>
						{else/}
						<div class="panel panel-default">
							<!-- <div class="fonwei panel-heading">
								<h5 class="text-danger">最新资讯</h5>
							</div> -->
							<ul class="list-unstyled panel-body list-group">
								{foreach name="list" item="vo" }
								<li class="list-group-item">
									<div class="media">
										<div class="media-left">
											<a href="{:url('article/detail',array('id'=>$vo['id']))}">
												<span style="display: inline-block;width: 150px;height: 100px;">
													<!-- $Request.domain -->
													{if condition="$vo['thumb'] neq ''"}
													<img src="__PUBLIC__/upload/{$vo.thumb}" class="media-object img-responsive">
													{else /}
													<img src="/static/img/noneImg.jpg" class="media-object img-responsive">
													{/if}
												</span>
											</a>
										</div>
										<div class="media-body">
											<h5 class="" style="margin-top: 6px;">
												<a class="fonwei" href="{:url('article/detail',array('id'=>$vo['id']))}">{$vo.title}</a>
												&ensp;<span class="text-muted">[{$vo.author}]</span>
											</h5>
											<div class="text-muted" style="margin: 5px 0;display: -webkit-box;    
											-webkit-box-orient: vertical;    
											-webkit-line-clamp: 3;    
											overflow: hidden;">
												{if condition="!empty($vo['desc'])"}
												{$vo.desc}
												{else /}
												暂无概述
												{/if}
											</div>
											<div class="flexBet margin-top">
												<div class="tag" style="font-size: 12px;">
													<span>关键词:</span>
													<?php
														//将字符串解析为数组
														$arr=explode(',',$vo['tags']);
														foreach($arr as $k=>$v){
															echo "<a href='/index.php/index/tags/index/tags/$v' style='font-size: 12px;'>$v</a>";
															echo " ";
														}
													?>
													<!-- <a href="">古文</a>
													<a href="">唐诗</a>
													<a href="">宋词</a> -->
												</div>
												<div class="info text-right" style="font-size: 12px;">
													<div class="">
														<span>发表时间：<i class="text-muted" style="font-style: unset !important;">{$vo.create_time|date='Y-m-d H:i'}</i> </span>&ensp;
														<span>分类：{$cateres.catename}</span>&nbsp;
														<span>评论：</span>&nbsp;
														<span>浏览：{$vo.clickcount}</span>&nbsp;
														<!-- <span><a href="{:url('article/detail',array('id'=>$vo['id']))}">阅读全文></a></span> -->
													</div>
												</div>
											</div>
										</div>
							
									</div>
								</li>
							
							
								{/foreach}
								<!-- <li class="col-md-4">
									<div class="thumbnail">
										<a href=""><img src="/tpblog/public/home/img/yz630.jpg" class="img-responsive"></a>
										<p class="text-center"><a href="">案例1</a></p>
									</div>
								</li> -->
							</ul>
						</div>
						<?php echo $list->render(); ?>
						{/if}
							
						
					</div>
					<div class="col-md-3">
						{include file="common/right" /}
					</div>
				</div>
			</div>
		</main>
		{include file="common/footer"/}
		<!-- <script type="text/javascript">
			document.onreadystatechange=function() {
				if (document.readyState=="complete") {
					$(".loading").fadeOut();
				}
			}
		</script> -->
	</body>
</html>
