<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>联系我们</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/home/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__ROOT__/home/css/style.css"/>
		<script src="../../../../public/home/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../../public/home/js/layer/2.4/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<main class="">
			{include file="common/header" /}
			<div class="container">
				<h1 class="text-center">联系我们</h1>
			</div>
			{include file="common/footer" /}
		</main>
	</body>
</html>
