<!DOCTYPE html>
<html>
	<head>
		<title>404错误，您所访问的页面不存在！</title>
		<meta name="author" content="">
		<!-- <meta name="copyright" content="Copyright sucaihuo 版权所有"> -->
		<link rel="stylesheet" href="/index/css/bootstrap.min.css">
		<link rel="stylesheet" href="/index/css/style.css">
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/base.css" />
	</head>

	<body>
		<div class="">
			<div id="errorpage">
				<div class="tfans_error">
					<div class="logo"></div>
					<div class="errortans clearfix">
						<div class="e404"></div>
						<p><b>出错啦！</b></p>
						<p>您访问的页面不存在</p>
						<div class="bt"><a href="http://tpyycms.cn/">返回首页</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<div class="fc">
				<div class="">
					<i class="glyphicon glyphicon-home"></i> <a href="http://tpyycms.cn/index.php">返回首页</a>
					<i class="glyphicon glyphicon-user"></i> <a href="">联系我们</a>
				</div>
			</div>
		</div>
	</body>
</html>
