<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/home/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__ROOT__/home/css/style.css"/>
		<script src="../../../../public/home/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../../public/home/js/layer/2.4/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
		
	<body class="bg-danger">
		{include file="common/header"/}
		<main class="bg-success">
			<div class="container">
				<div class="row clearfix margin-bot2 well margin-top" style="padding-left: 15px;padding-right: 15px;">
					<h2 class="text-danger">新闻中心</h2>
					<div class="col-md-6">
						<img src="../../../../public/home/img/yz630.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-md-6">
						<div class="fonwei"><h3>新闻头条</h3></div>
						<ul class="list-unstyled">
							<li>
								<div>
									<a href="">教育系统新型肺炎疫情防控信息实时发布</a>
									<span class="pull-right">2020-2-26</span>
								</div>
								<p>教育系统新教育系统新型肺炎疫情防控信息实时情防控信息实时发布教育系统新型肺炎疫情防控信息实时发布<a href="">[详情]</a></p>
							</li>
							<li>
								<a href="">教育部就《新时代高等学校思想政治理论课教师队伍建设规定》答记者问</a>
								<span class="pull-right">2020-2-26</span>
							</li>
							<li>
								<a href="">教育部公布2019年度教育部工程研究中心评估结果</a>
								<span class="pull-right">2020-2-26</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="row clearfix well">
					<div class="col-md-9">
						<div class="panel panel-info paddinside">
							<div class="fonwei panel-heading"><h4>最新动态</h4></div>
							<ul class="list-unstyled panel-body">
								<li class="clearfix margin-bot">
									<div class="paddinside">
										<a href="" class=""><h4>宅家上学 如何学出效果来</h4></a>
									</div>
									<div class="text-muted">
										<div class="col-md-8">
											<span class="">南台观云秀</span>
											<span class="">2020-2-26</span>
										</div>
										<div class="col-md-4">
											<span class="">浏览：154656</span>
											<span class="">2020-2-26</span>
										</div>
									</div>
								</li>
								<li class="clearfix margin-bot">
									<div class="paddinside">
										<a href="" class=""><h4>如何把“停课不停学”这件好事办好</h4></a>
									</div>
									<div class="text-muted">
										<div class="col-md-8">
											<span class="">南台观云秀</span>
											<span class="">2020-2-26</span>
										</div>
										<div class="col-md-4">
											<span class="">浏览：154656</span>
											<span class="">2020-2-26</span>
										</div>
									</div>
								</li>
								<li class="clearfix margin-bot">
									<div class="paddinside">
										<a href="" class=""><h4>思想政治理论课打好“战疫”组合拳</h4></a>
									</div>
									<div class="text-muted">
										<div class="col-md-8">
											<span class="">南台观云秀</span>
											<span class="">2020-2-26</span>
										</div>
										<div class="col-md-4">
											<span class="">浏览：154656</span>
											<span class="">2020-2-26</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-info paddinside">
							<div class="fonwei panel-heading"><h4>最热动态</h4></div>
							<ul class="list-unstyled panel-body">
								<li class="clearfix">
									<a href="" class="pull-left">宅家上学 如何学出效果来</a>
									<span class="pull-right">2020-2-26</span>
								</li>
								<li class="clearfix">
									<a href="" class="pull-left">如何把“停课不停学”这件好事办好</a>
									<span class="pull-right">2020-2-26</span>
								</li>
								<li class="clearfix">
									<a href="" class="pull-left">思想政治理论课打好“战疫”组合拳</a>
									<span class="pull-right">2020-2-26</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		{include file="common/footer"/}
	</body>
</html>