<footer class="bg-primary">
	<div class="container">
		<div class="" style="display: flex;align-items: flex-start;">
			<div>
				<img src="/index/img/ercode.jpg" style="width: 6em;" >
			</div>
			<div class="paddingside">
				<ul class="list-inline" style="display: inline-block;">
					<li><a class="text-white" href="">关于我们</a></li>
					<li><a class="text-white" href="">联系我们</a></li>
					<li><a class="text-white" href="">友情连接</a></li>
				</ul>
			</div>
		</div>
		<div class="text-center">
			Copyright © 2013-2020 
			<a href="http://www.yijss.com" class="text-white">比谷科技</a> 
			<a href="http://www.yijss.com" class="text-white">zrisn.com</a> 
			All Rights Reserved. 备案号：黔ICP备15012807号-1 
		</div>
	</div>
</footer>