<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/style.css"/>
		<script src="__PUBLIC__/index/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/index/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<style>
			.tab-body-list{
				display: none;
			}
			.tab-body-list.active{
				display: block;
			}
			.resetPassword label{
				display: inline-block;
				width: 200px;
				text-align: right;
				padding-right: 10px;
			}
			.set-avatar>div.img-thumbnail{
				position: relative;
			}
			.set-avatar input{
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				z-index: 9;
				cursor: pointer;
			}
			.set-avatar i{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				font-size: 50px;
				text-align: center;
				color: #ccc;
			}
		</style>
	</head>
	<body>
		{include file="common/header"/}
		<main class="" style="background-color: #e2e2e2;">
			<div class="">
				<img src="__PUBLIC__/index/img/bg-img.jpeg" alt="">
			</div>
			<div class="margin-top container">
				<div class="col-md-12">
					<div class="col-md-3" style="padding-right: 0;">
						<div class="avitar-wrap panel panel-default">
							<div class="fc">
								<div class="thumbnail margin-top">
									<img src="/upload/avatar/{$userinfo.avatar}" alt="" style="height: 100px;">
								</div>
							</div>
							<div class="text-center margin-bot2">
								<p>{$userinfo.nickname} <span class="label label-warning">管理员</span> </p>
							</div>
						</div>
						<div class="tab-header panel panel-default">
							<div class="panel margin-top">
								<h4 class="paddingside">个人资料</h4>
								<ul class="list-group">
									<li class="list-group-item active">基本资料</li>
									<li class="list-group-item">修改头像</li>
									<li class="list-group-item">修改密码</li>
									<li class="list-group-item">身份认证</li>
								</ul>
							</div>
							<div class="panel">
								<h4 class="paddingside">消息中心</h4>
								<ul class="list-group">
									<li class="list-group-item">系统通知</li>
									<li class="list-group-item">私信消息</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="tab-body panel panel-default">
							<div class="tab-body-list active">
								<form class="user-profile margin-top2">
									<fieldset id="" class="margin-top margin-bot">
										<legend class="text-danger fonwei paddingside">基本资料</legend>
										<div class="form-group clearfix fc">
											<label for="nickname" class="col-md-2 text-right">昵&ensp;&ensp;称</label>
											<div class="col-md-10"><input type="text" class="form-control" name="nickname" id="nickname" value="{$userinfo.nickname}" /></div>
										</div>
										<div class="form-group clearfix fc">
											<label class="col-md-2 text-right">性&ensp;&ensp;别</label>
											<ul class="col-md-10 list-inline margin0">
												<li>
													<label class="margin0 paddinside05" for="male">男</label>
													<input type="radio" name="sex" {eq name="userinfo.sex" value="1" }checked="checked" {/eq} id="male" value="1"/>
												</li>
												<li>
													<label class="margin0 paddinside05" for="female">女</label>
													<input type="radio" name="sex" {eq name="userinfo.sex" value="2" }checked="checked" {/eq} id="female" value="2"/>
												</li>
											</ul>
										</div>
										<div class="form-group clearfix fc">
											<label for="age" class="col-md-2 text-right">年&ensp;&ensp;龄</label>
											<div class="col-md-10"><input type="text" class="form-control" name="age" id="age" value="{$userinfo.age}" /></div>
										</div>
										<div class="form-group clearfix fc">
											<label for="accupation" class="col-md-2 text-right">职&ensp;&ensp;业</label>
											<div class="col-md-10"><input type="text" class="form-control" name="accupation" id="accupation" value="{$userinfo.accupation}" /></div>
										</div>
										<div class="form-group clearfix fc">
											<label for="major" class="col-md-2 text-right">专&ensp;&ensp;业</label>
											<div class="col-md-10"><input type="text" class="form-control" name="major" id="major" value="{$userinfo.major}" /></div>
										</div>
										<div class="form-group clearfix fc">
											<label for="education" class="col-md-2 text-right">学&ensp;&ensp;历</label>
											<!-- <input type="text" class="form-control" name="education" id="education" value="" /> -->
											<div class="col-md-10">
												<select name="education">
													<option value="">请选择</option>
													<option value="0" {if condition="$userinfo.education eq '0'"}selected="selected" {/if}>未知</option>
													<option value="1" {eq name="userinfo.education" value="1" }selected="selected" {/eq}>初中</option>
													<option value="2" {eq name="userinfo.education" value="2" }selected="selected" {/eq}>高中</option>
													<option value="3" {eq name="userinfo.education" value="3" }selected="selected" {/eq}>大专</option>
													<option value="4" {eq name="userinfo.education" value="4" }selected="selected" {/eq}>本科</option>
													<option value="5" {eq name="userinfo.education" value="5" }selected="selected" {/eq}>硕士</option>
													<option value="6" {eq name="userinfo.education" value="6" }selected="selected" {/eq}>博士</option>
												</select>
											</div>
										</div>
										<div class="form-group clearfix fc">
											<label for="school" class="col-md-2 text-right">毕业学校</label>
											<div class="col-md-10"><input type="text" class="form-control" name="school" id="school" value="{$userinfo.school}" /></div>
										</div>
										<div class="form-group clearfix fc">
											<label for="borthAdress" class="col-md-2 text-right">籍&ensp;&ensp;贯</label>
											<div class="col-md-10"><input type="text" class="form-control" name="borthAdress" id="borthAdress" value="" /></div>
										</div>
										<div class="form-group clearfix fc">
											<label for="liveAdress" class="col-md-2 text-right">现住地址</label>
											<div class="col-md-10"><input type="text" class="form-control" name="liveAdress" id="liveAdress" value="" /></div>
										</div>
										<div class="form-group clearfix ">
											<label for="signature" class="col-md-2 text-right">个性签名</label>
											<div class="col-md-10">
												<!-- <input type="text" class="form-control" name="signature" id="signature" value="" /> -->
												<textarea class="paddinside05" style="width: 100%;resize: none;padding: 6px 12px;" rows="6" cols="84" name="signature" id="signature">{$userinfo.signature}</textarea>
											</div>
										</div>
										<div class="form-group clearfix fc">
											<label class="col-md-2 text-right">注册时间</label>
											<div class="col-md-10"><span class="text-danger">{$userinfo.create_time}</span></div>
										</div>
									</fieldset>
								</form>
								
								<div class="text-center margin-bot2"><input type="submit" class="btn btn-primary" id="save" value="保存"/></div>
							</div>
							<div class="tab-body-list">
								<div class="" style="padding: 10px;">
									<form method="post" enctype="multipart/form-data" id="file_upload">
										<fieldset>
											<legend>头像设置</legend>
											<div class="set-avatar">
												<div class="img-thumbnail" style="width: 200px;height: 100px;">
													<img src="/upload/avatar/{$userInfo.avatar}" class="" id="image-preview" style="width: 100%;height: 100%;">
													<i class="glyphicon glyphicon-plus fc"></i>
													<input type="file" id="file" name="upload_image" accept="image/gif, image/jpeg, image/png, image/jpg" style="width: 100%;height: 100%;">
												</div>
											</div>
											<!-- <p class="">
												<input type="file" id="file" name="upload_image" accept="image/gif, image/jpeg, image/png, image/jpg">
												<input type="button" class="btn btn-primary" value="下载" onclick="download()" />
												<input type="button" class="btn btn-primary" value="保存" onclick="updateAvatar()" />
											</p> -->
											<!-- <p id="info"></p> -->
											<input type="button" class="btn btn-primary" value="保存" onclick="updateAvatar()" />
										</fieldset>
									</form>
								</div>
							</div>
							<div class="tab-body-list">
								<div class="margin-top2 margin-bot2">
									<form class="resetPassword" action="" method="post">
										<fieldset>
											<legend class="text-danger fonwei paddingside">修改密码</legend>
											<div class="">
												<label for="">旧密码</label><input type="text" name="" id="">
											</div>
											<div class="">
												<label for="">新密码</label><input type="text" name="" id="">
											</div>
											<div class="">
												<label for="">确认新密码</label><input type="text" name="" id="">
											</div>
										</fieldset>
										<div class="fc">
											<div class="margin-top2" style="width: 200px;">
												<input class="btn btn-primary btn-block" type="submit" value="保存"/>
											</div>
										</div>
										
									</form>
								</div>
							</div>
							<div class="tab-body-list">
								<div class="">
									<form class="mui-input-group">
										<fieldset>
											<legend class="text-danger fonwei paddingside">身份认证</legend>
										</fieldset>
										<div class="mui-input-row">
											<label>input</label>
											<input type="text" class="mui-input-clear" placeholder="请输入">
										</div>
									</form>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</main>
		{include file="common/footer"/}
		<script type="text/javascript">
			var fileInput = document.getElementById('file');
			// var info = document.getElementById('info');
			var preview = document.getElementById('image-preview');
			// 监听change事件:
			fileInput.addEventListener('change', function() {
				// 清除背景图片:
				preview.style.backgroundImage = '';
				if (!fileInput.value) {
					info.innerHTML = '请选择头像';
					return;
				}
				var file = fileInput.files[0];
				var size = file.size;
				if (size >= 1 * 1024 * 1024) {
					alert('文件大小超出限制');
					info.innerHTML = '文件大小超出限制';
					return false;
				}
				// 获取File信息:
				// info.innerHTML = `文件名称:  + ${file.name}<br>文件大小: ${file.size} <br>上传时间: ${file.lastModifiedDate}`;
				if (!['image/jpeg', 'image/png', 'image/gif'].includes(file.type)) {
					alert('不是有效的图片文件!');
					return;
				}
				// 读取文件:
				var reader = new FileReader();
				reader.onload = function(e) {
					var data = e.target.result;
					console.log(preview, 'a标签')
					preview.src = data
				};
				// 以DataURL的形式读取文件:
				reader.readAsDataURL(file);
 
			});
 
			function download() {
				var url = preview.src; // 获取图片地址
				var a = document.createElement('a'); // 创建一个a节点插入的document
				var event = new MouseEvent('click') // 模拟鼠标click点击事件
				a.download = 'beautifulGirl' // 设置a节点的download属性值
				a.href = url; // 将图片的src赋值给a节点的href
				a.dispatchEvent(event)
			}
			
			function updateAvatar(){
				var data={
					name:'1122222222'
				}
				var fd=new FormData();
				fd.append('file',fileInput.files[0]);
				fd.append('test','111111111');
				// console.log("111111!",fileInput.files[0]);
				$.ajax({
					// url:"{:url('home/user/user_center')}",
					// url:"http://localhost/tp-blog/public/index.php/api/common/test",
					url:"{:url('index/common/updateAvatar')}",
					type:"post",
					data:fd,
					dataType:"json",
					processData: false,//不处理参数,数据是否需要转格式
					contentType:false,//ajax2.0可以不用设置请求头，但是jq帮我们自动设置了，这样的话需要我们自己取消掉
					success:function(data) {
						console.log(data)
						if (data.code==200) {
							layer.msg(data.msg, {
							  icon: 1,
							  time: 2000 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
							  //do something
							});
							setTimeout(function(){
								history.go(0)
							},2000)
						} else{
							layer.msg(data.msg, {
							  icon: 2,
							}, function(){
							  //do something
							});   
						}
					}
				})
			}

			
			$(".tab-header ul>li").click(function(){
				$(this).parents('.tab-header').find('li').removeClass('active');
				$(this).addClass('active');
				var index=$(this).index()
				console.log('index',index);
				$('.tab-body>div').removeClass('active');
				$('.tab-body>div').parent().children().eq(index).addClass('active');
			})
			
			$("#save").click(function() {
				$.ajax({
					// url:"{:url('home/user/user_center')}",
					// url:"http://localhost/tp-blog/public/index.php/api/common/test",
					url:"/tp-blog/public/index.php/api/common/login",
					type:"post",
					data:$("form.user-profile").serialize(),
					dataType:"json",
					success:function(data) {
						console.log(data)
						if (data.code==1) {
							layer.msg(data.msg, {
							  icon: 1,
							  time: 2000 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
							  //do something
							});
						} else{
							layer.msg(data.msg, {
							  icon: 2,
							}, function(){
							  //do something
							});   
						}
					}
				})
			})
		</script>
	</body>
</html>
