<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>服务案例</title>
		{include file="common/js" /}
		{include file="common/css" /}
		<style type="text/css">
			.loading{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 99999;
			}
		</style>
	</head>
	<body>
		{include file="common/header"/}
		<main class="">
			<div class="container">
				<div class="panel panel-default margin-top">
					<div class="fonwei panel-heading">
						<h3 class="text-muted">服务案例</h3>
					</div>
					<ul class="list-unstyled panel-body">
						<?php if(is_array($list) || $list instanceof \think\Collection || $list instanceof \think\Paginator): $i = 0; $__LIST__ = $list;if( count($__LIST__)==0 ) : echo "" ;else: foreach($__LIST__ as $key=>$vo): $mod = ($i % 2 );++$i;?>
						<li class="col-md-2">
							<div class="thumbnail">
								<a href="<?php echo url('article/detail',array('serid'=>$vo['id'])); ?>">
									<?php if($vo['thumb'] != ''): ?>
									<img src="/index/img/yz630.jpg" class="img-responsive">
									<?php else: ?>
									<!-- 暂无缩略图 -->
									<img src="/static/img/noneImg.jpg" class="img-responsive">
									<!-- <img src="/tpblog/public/home/img/yz630.jpg" class="img-responsive"> -->
									<?php endif; ?>
								</a>
								<p class="text-center"><a href=""><?php echo $vo['title']; ?></a></p>
							</div>
						</li>
						<?php endforeach; endif; else: echo "" ;endif; ?>
					</ul>
					<?php echo $list->render(); ?>
				</div>
				<div class="panel panel-default">
					<div class="fonwei panel-heading">
						<h3 class="text-muted">经典案例</h3>
					</div>
					<ul class="list-unstyled panel-body">
						<?php if(is_array($list) || $list instanceof \think\Collection || $list instanceof \think\Paginator): $i = 0; $__LIST__ = $list;if( count($__LIST__)==0 ) : echo "" ;else: foreach($__LIST__ as $key=>$vo): $mod = ($i % 2 );++$i;?>
						<li class="col-md-2">
							<div class="thumbnail">
								<a href="<?php echo url('article/detail',array('serid'=>$vo['id'])); ?>">
									<?php if($vo['thumb'] != ''): ?>
									<img src="/index/img/yz630.jpg" class="img-responsive">
									<?php else: ?>
									<!-- 暂无缩略图 -->
									<img src="/static/img/noneImg.jpg" class="img-responsive">
									<!-- <img src="/tpblog/public/home/img/yz630.jpg" class="img-responsive"> -->
									<?php endif; ?>
								</a>
								<p class="text-center"><a href=""><?php echo $vo['title']; ?></a></p>
							</div>
						</li>
						<?php endforeach; endif; else: echo "" ;endif; ?>
					</ul>
				</div>
			</div>
		</main>
		<!-- <script src="/tpblog/public/home/js/nav.js" type="text/javascript" charset="utf-8"></script> -->
		{include file="common/footer"/}
		<script type="text/javascript">
			// document.onreadystatechange=function() {
			// 	if (document.readyState=="complete") {
			// 		$(".loading").fadeOut();
			// 	}
			// }
			$(function(){
				var current_url = '__SELF__';
				console.log(current_url);
				$('header>ul>li>a[href="'+current_url+'"]').addClass('active');
			})
		</script>
	</body>
</html>
