<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/home/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__ROOT__/home/css/style.css"/>
		<script src="../../../../public/home/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../../public/home/js/layer/2.4/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		{include file="common/header"/}
		<main class="fc bg-success">
			<div class="panel panel-primary margin-top margin-bot" style="width: 800px;">
				<form class="margin-top2">
					<fieldset id="" class="margin-top margin-bot">
						<legend class="text-center text-danger fonwei">个人中心</legend>
						<div class="form-group clearfix fc">
							<label for="nickname" class="col-md-2 text-right">昵&ensp;&ensp;称</label>
							<div class="col-md-10"><input type="text" class="form-control" name="nickname" id="nickname" value="{$userinfo.nickname}" /></div>
						</div>
						<div class="form-group clearfix fc">
							<label class="col-md-2 text-right">性&ensp;&ensp;别</label>
							<ul class="col-md-10 list-inline margin0">
								<li>
									<label class="margin0 paddinside05" for="unknown">不详</label>
									<input type="radio" name="sex" {eq name="userinfo.sex" value="0" }checked="checked" {/eq} id="unknown" value="0"/>
								</li>
								<li>
									<label class="margin0 paddinside05" for="male">男</label>
									<input type="radio" name="sex" {eq name="userinfo.sex" value="1" }checked="checked" {/eq} id="male" value="1"/>
								</li>
								<li>
									<label class="margin0 paddinside05" for="female">女</label>
									<input type="radio" name="sex" {eq name="userinfo.sex" value="2" }checked="checked" {/eq} id="female" value="2"/>
								</li>
							</ul>
						</div>
						<div class="form-group clearfix fc">
							<label for="age" class="col-md-2 text-right">年&ensp;&ensp;龄</label>
							<div class="col-md-10"><input type="text" class="form-control" name="age" id="age" value="{$userinfo.age}" /></div>
						</div>
						<div class="form-group clearfix fc">
							<label for="accupation" class="col-md-2 text-right">职&ensp;&ensp;业</label>
							<div class="col-md-10"><input type="text" class="form-control" name="accupation" id="accupation" value="{$userinfo.accupation}" /></div>
						</div>
						<div class="form-group clearfix fc">
							<label for="major" class="col-md-2 text-right">专&ensp;&ensp;业</label>
							<div class="col-md-10"><input type="text" class="form-control" name="major" id="major" value="{$userinfo.major}" /></div>
						</div>
						<div class="form-group clearfix fc">
							<label for="education" class="col-md-2 text-right">学&ensp;&ensp;历</label>
							<!-- <input type="text" class="form-control" name="education" id="education" value="" /> -->
							<div class="col-md-10">
								<select name="education">
									<option value="">请选择</option>
									<option value="0" {if condition="$userinfo.education eq '0'"}selected="selected" {/if}>未知</option>
									<option value="1" {eq name="userinfo.education" value="1" }selected="selected" {/eq}>初中</option>
									<option value="2" {eq name="userinfo.education" value="2" }selected="selected" {/eq}>高中</option>
									<option value="3" {eq name="userinfo.education" value="3" }selected="selected" {/eq}>大专</option>
									<option value="4" {eq name="userinfo.education" value="4" }selected="selected" {/eq}>本科</option>
									<option value="5" {eq name="userinfo.education" value="5" }selected="selected" {/eq}>硕士</option>
									<option value="6" {eq name="userinfo.education" value="6" }selected="selected" {/eq}>博士</option>
								</select>
							</div>
						</div>
						<div class="form-group clearfix fc">
							<label for="school" class="col-md-2 text-right">毕业学校</label>
							<div class="col-md-10"><input type="text" class="form-control" name="school" id="school" value="{$userinfo.school}" /></div>
						</div>
						<div class="form-group clearfix fc">
							<label for="borthAdress" class="col-md-2 text-right">籍&ensp;&ensp;贯</label>
							<div class="col-md-10"><input type="text" class="form-control" name="borthAdress" id="borthAdress" value="" /></div>
						</div>
						<div class="form-group clearfix fc">
							<label for="liveAdress" class="col-md-2 text-right">现住地址</label>
							<div class="col-md-10"><input type="text" class="form-control" name="liveAdress" id="liveAdress" value="" /></div>
						</div>
						<div class="form-group clearfix ">
							<label for="signature" class="col-md-2 text-right">个性签名</label>
							<div class="col-md-10">
								<!-- <input type="text" class="form-control" name="signature" id="signature" value="" /> -->
								<textarea class="paddinside05" style="resize: none;" rows="6" cols="84" name="signature" id="signature">{$userinfo.signature}</textarea>
							</div>
						</div>
						<div class="form-group clearfix fc">
							<label class="col-md-2 text-right">注册时间</label>
							<div class="col-md-10"><span class="text-danger">{$userinfo.register_time}</span></div>
						</div>
					</fieldset>
				</form>
				<div class="text-center margin-bot2"><input type="submit" class="btn btn-primary" id="save" value="保存"/></div>
			</div>
		</main>
		{include file="common/footer"/}
		<script type="text/javascript">
			$("#save").click(function() {
				$.ajax({
					// url:"{:url('home/user/user_center')}",
					// url:"http://localhost/tp-blog/public/index.php/api/common/test",
					url:"/tp-blog/public/index.php/api/common/login",
					type:"post",
					data:$("form").serialize(),
					dataType:"json",
					success:function(data) {
						console.log(data)
						if (data.code==1) {
							layer.msg(data.msg, {
							  icon: 1,
							  time: 2000 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
							  //do something
							});
						} else{
							layer.msg(data.msg, {
							  icon: 2,
							}, function(){
							  //do something
							});   
						}
					}
				})
			})
		</script>
	</body>
</html>
